<div class="container-fluid list-component">

  <div class="row list-main-content" [hidden]="!showData">

    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary">{{ "LIST.VALIDATE" | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-12" *ngFor="let block of dataSource; trackBy: trackByBlock">
          <ct-generic-block [block2]="block"></ct-generic-block>
        </div>
        <div class="col-12">
          <div class="full-width-message">{{ "LIST.LOAD_COMPLETED" | translate }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="full-width-message" [hidden]="!isLoadingData">{{ "LIST.LOADING" | translate }}</div>
  <div class="full-width-message" [hidden]="!hasNoData">{{ "LIST.NO_RESULT" | translate }}</div>
  <div class="full-width-message" [hidden]="!shouldRetry" (click)="loadList()">{{ "LIST.RETRY" | translate }}</div>

</div>
