<div class="container-fluid block-list-component">
  <div class="row block-list-main-content" [hidden]="!showData">
    <div class="col-12" *ngFor="let block of dataSource; trackBy: trackByBlock">
      <div class="generic-block">
        <app-generic-block-ct [block]="block"></app-generic-block-ct>
      </div>
    </div>
    <div class="col-12">
      <div class="full-width-message">{{ "COMPONENT.BLOCK_LIST.LOAD_COMPLETED" | translate }}</div>
    </div>
  </div>
  <div class="full-width-message" [hidden]="!isLoadingData">{{ "COMPONENT.BLOCK_LIST.LOADING" | translate }}</div>
  <div class="full-width-message" [hidden]="!hasNoData">{{ "COMPONENT.BLOCK_LIST.NO_RESULT" | translate }}</div>
  <div class="full-width-message" [hidden]="!shouldRetry" (click)="loadList()">{{ "COMPONENT.BLOCK_LIST.RETRY" | translate }}</div>
  <div class="go-up" appScrollToTop></div>
</div>
