<div class="container-fluid tabs-component">
  <ngb-tabset [justify]="justify">
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b class="d-none d-md-inline">{{ "COMPONENT.TABS.TAB_BLOCKS" | translate }}</b>
        <span class="fa fa-edit"></span>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="row">
          <ct-list
            class="col-12"
            [instanceParams]="instanceParams">
          </ct-list>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b class="d-none d-md-inline">{{ "COMPONENT.TABS.TAB_DOCUMENTS" | translate }}</b>
        <span class="fa fa-file"></span>
      </ng-template>
      <ng-template ngbTabContent>
        <div>Document List</div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b class="d-none d-md-inline">{{ "COMPONENT.TABS.TAB_HISTORY" | translate }}</b>
        <span class="fa fa-history"></span>
      </ng-template>
      <ng-template ngbTabContent>
        <div>History</div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
