@import "../../../../../styles";

.next-step-component {
  top: 4.5 * $navbar-padding-y;
  padding-top: 20px;

  .button-row {
    padding-top: 5px;

    .action-button {
      min-width: 90px;
    }
  }
}
