<div class="container-fluid instance-list-component">
  <div class="row">
    <div class="col-12">
      <cp-text-filter (valueDidChange)="textSearchValueDidChange($event)"></cp-text-filter>
    </div>
  </div>

  <div class="row list-main-content" [hidden]="!showData">
    <div class="col-12 col-sm-6 instance" *ngFor="let instance of dataSource; trackBy: trackByBlock">
      <div class="card">
        <h5 class="card-header">
          {{ "COMPONENT.INSTANCE_LIST.INSTANCE_HEADER" | translate: {module: instance.module} }}
        </h5>
        <div class="card-body">
          <p class="card-text">{{ "COMPONENT.INSTANCE_LIST.INSTANCE_DESCRIPTION" | translate: {instance: instance.instance, step: instance.step } }}</p>
          <button class="btn btn-primary" (click)="selectInstance(instance)">{{ "COMPONENT.INSTANCE_LIST.SHOW" | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="full-width-message">{{ "COMPONENT.INSTANCE_LIST.LOAD_COMPLETED" | translate }}</div>
    </div>
  </div>

  <div class="full-width-message" [hidden]="!isLoadingData">{{ "COMPONENT.INSTANCE_LIST.LOADING" | translate }}</div>
  <div class="full-width-message" [hidden]="!hasNoData">{{ "COMPONENT.INSTANCE_LIST.NO_RESULT" | translate }}</div>
  <div class="full-width-message" [hidden]="!shouldRetry" (click)="loadList()">{{ "COMPONENT.INSTANCE_LIST.RETRY" | translate }}</div>
  <div class="go-up" scrollToTop></div>
</div>
