<div class="container-fluid dossier-component">
  <div class="full-width-message" [hidden]="!isLoading">{{ "COMPONENT.DOSSIER.LOADING" | translate }}</div>
  <div class="row" [hidden]="isLoading">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <span>{{ "COMPONENT.DOSSIER.HEADER" | translate }}</span>
          <span blockValidation [valid]="block.valid"></span>
        </div>
        <div class="card-body">
          <form [formGroup]="dossierForm">
            <div class="form-group">
              <h5>{{ block.section1.sectionLabel | translate }}</h5>
            </div>
            <div class="form-group">
              <label class="center-block">
                <span>{{ block.section1.label1 | translate }}</span>
                <input class="form-control" formControlName="textInput1Section1">
              </label>
              <label class="center-block">
                <span>{{ block.section1.label2 | translate }}</span>
                <input class="form-control" formControlName="textInput2Section1">
              </label>

              <div class="checkbox">
                <label class="center-block">
                  <input type="checkbox" formControlName="checkBox1Section1">
                  <span>{{ block.section1.label3 | translate }}</span>
                </label>
              </div>
            </div>

            <div class="form-group">
              <h5>{{ block.section2.sectionLabel | translate }}</h5>
            </div>
            <div class="form-group">
              <label class="center-block">
                <span>{{ block.section2.label1 | translate }}</span>
                <input class="form-control" formControlName="textInput1Section2">
              </label>
            </div>

            <!--<div class="form-group">-->
            <!--<label class="center-block">-->
            <!--<span>Type of procedure:</span>-->
            <!--<select class="form-control" formControlName="procedure">-->
            <!--<option *ngFor="let proc of ['Empowerment', 'Delegation']" [value]="proc">{{ proc }}</option>-->
            <!--</select>-->
            <!--</label>-->
            <!--</div>-->

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
