<div class="container-fluid dossier-component">
  <div class="full-width-message" [hidden]="!isLoading">{{ "COMPONENT.DOSSIER.LOADING" | translate }}</div>
  <div class="row" [hidden]="isLoading">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <span>{{ "COMPONENT.DOSSIER.HEADER" | translate }}</span>
          <span blockValidation [valid]="block.valid"></span>
        </div>
        <div class="card-body">
          <form [formGroup]="dossierForm">


            <h5>{{ block.section1.sectionLabel | translate }}</h5>
            <div class="form-group">
              <label class="center-block">
                <span>{{ block.section1.sectionLabel }}</span>
                <input class="form-control" formControlName="textInput1Section1Control">
              </label>
            </div>
            <div class="form-group">
              <label class="center-block">
                <span>{{ block.section1.sectionLabel }}</span>
                <input class="form-control" formControlName="textInput2Section1Control">
              </label>
            </div>


            <h5>{{ block.section2.sectionLabel | translate }}</h5>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
