<div class="container-fluid dossier-component">
  <div class="full-width-message" [hidden]="!isLoading">{{ "COMPONENT.DOSSIER.LOADING" | translate }}</div>
  <div class="row" [hidden]="isLoading">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <span>{{ "COMPONENT.DOSSIER.HEADER" | translate }}</span>
          <span blockValidation [valid]="block.valid"></span>
        </div>
        <div class="card-body">
          <form>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
