<div class="container-fluid check-box-confirmer-component">
  <div class="full-width-message" [hidden]="!isLoading">{{ "COMPONENT.CHECK_BOX_CONFIRMER.LOADING" | translate }}</div>
  <div class="row" [hidden]="isLoading">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <span>Featured</span>
          <span blockValidation [valid]="block.valid"></span>
        </div>
        <div class="card-body">
          <form [formGroup]="checkBoxConfirmerForm">
            <div class="form-group row">
              <label for="checkBoxConfirmerBlock" class="col-sm-2 col-form-label">{{ block.label | translate }}</label>
              <div class="col-sm-10">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkBox" class="form-check-input" id="checkBoxConfirmerBlock" formControlName="checkBoxConfirmer">
                    {{ block.description | translate }}
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
