<div class="container-fluid text-input-component">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="textInputForm">
        <div class="input-group">
          <input class="form-control" formControlName="textInput" placeholder="{{ 'TEXT_INPUT.TEXT_INPUT_PLACEHOLDER' | translate }}">
          <span class="input-group-addon addon" (click)="resetTextInput()">
            <span class="fa fa-search" [hidden]="isTextInputNotEmpty"></span>
            <span class="fa fa-remove" [hidden]="!isTextInputNotEmpty"></span>
          </span>
        </div>
      </form>

      text-input: {{ block | json }}
    </div>
  </div>
</div>
