<div class="container-fluid text-input-component">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="textInputForm">
        <div class="form-group row">
          <label for="textInputBlock" class="col-sm-2 col-form-label">{{ block.label | translate }}</label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" id="textInputBlock" formControlName="textInput" placeholder="{{ 'COMPONENT.TEXT_INPUT.TEXT_INPUT_PLACEHOLDER' | translate }}">
              <div class="input-group-append" (click)="resetTextInput()">
                <span class="input-group-text addon">
                  <span class="fa fa-search" [hidden]="isTextInputNotEmpty"></span>
                  <span class="fa fa-remove" [hidden]="!isTextInputNotEmpty"></span>
                </span>
              </div>
            </div>
            <div class="input-group-message">{{ inputGroupMessage | translate: inputGroupParams }}</div>
            <!--<span style="float: right; padding-top: 50px; color: red;">{{ block | json }}</span>-->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
