<div class="container-fluid date-picker-component">
  <div class="full-width-message" [hidden]="!isLoading">{{ "COMPONENT.DATE_PICKER.LOADING" | translate }}</div>
  <div class="row" [hidden]="isLoading">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <span>Featured</span>
          <span blockValidation [valid]="block.valid"></span>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="datePickerBlock" class="col-sm-2 col-form-label">{{ block.label | translate }}</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input class="form-control" id="datePickerBlock"
                         name="dp" [(ngModel)]="selectedDate" (ngModelChange)="onChange($event)" ngbDatepicker #d="ngbDatepicker" [navigation]="'arrows'" placeholder="yyyy-mm-dd">
                  <div class="input-group-append">
                    <button class="btn btn-primary addon" (click)="d.toggle()" type="button">
                      <span class="fa fa-calendar"></span>
                    </button>
                  </div>
                </div>
                <!--<span style="float: right; padding-top: 50px; color: red;">{{ block | json }}</span>-->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
