/* You can add global styles to this file, and also import other style files */

// -------------------------------------------------------
// general rules
@import "assets/stylesheets/all";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
