// -------------------------------------------------------
// App variables

$primary-color: $app-green-1 !default;
$accent-color: $app-white !default;
$secondary-color: $app-black !default;
$info-color: #03a9f4;
$success-color: #4caf50;
$warning-color: #ff9800;
$danger-color: #f44336;
$gray-color: $app-gray-2 !default;

// -------------------------------------------------------
// Bootstrap variables

//== Colors
$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  info: $info-color,
  warning: $warning-color,
  danger: $danger-color,
  light: $gray-color,
  dark: $gray-color
);

//== Typography
$font-size-base: 1rem;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

//== Grid system

//== Navbar
$navbar-padding-y: 1rem;

//== Buttons

// Forms
$input-group-addon-bg: $primary-color;

// -------------------------------------------------------
// Font awesome variables

// -------------------------------------------------------
// Common style

.full-width-message {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5 * $font-size-base;
  text-align: center;
  font-weight: bold;
}

.go-up {
  @extend .fa;
  @extend .fa-3x;
  @extend .fa-chevron-circle-up;

  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: $primary-color;
  background-color: $app-white;
  opacity: 0.7;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
}

.cursor-pointer {
  cursor: pointer;
}

input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid {
  color: $danger-color;
  border-color: $danger-color;
}

input.ng-invalid-mc-custom-validator-error,
select.ng-invalid-mc-custom-validator-error,
textarea.ng-invalid-mc-custom-validator-error {
  color: $danger-color;
  border-color: $danger-color;
}

// angular-loading-bar override style
#loading-bar .bar {
  background: $primary-color !important;
  height: 4px !important;
}
