// -------------------------------------------------------
// Root variables

:root {
  --primary-color: #004494;
  --accent-color: #ffeb3b;
  --secondary-color: #fff;
  --info-color: #03a9f4;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --danger-color: #f44336;
  --gray-color: #666;

  --padding-s: 10px;
  --padding-m: 15px;
  --padding-l: 20px;

  --full-width: 100%;
}

// -------------------------------------------------------
// Common style

.card-title {
  padding-top: var(--padding-s);
  padding-bottom: var(--padding-s);
}

.card-content {
  width: var(--full-width);
}

.full-width-message {
  width: var(--full-width);
  padding-top: var(--padding-l);
  padding-bottom: var(--padding-l);
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.go-up {
  @extend .fa;
  @extend .fa-3x;
  @extend .fa-chevron-circle-up;

  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  opacity: 0.7;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
}
